<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.junior.mapper.ChatRoomMapper">

    <sql id="InsertChatRoomColum">
        (roomName, creator)
    </sql>

    <insert id="insertChatRoom" parameterType="ChatRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into room
            <include refid="InsertChatRoomColum"></include>
        values
            (#{roomName}, #{creator});
    </insert>

    <insert id="insertUserRoom" parameterType="UserRoom" useGeneratedKeys="true" keyProperty="id">
        insert into user_room (userIp, roomId, createTime) VALUES (#{userIp}, #{roomId}, #{createTime})
    </insert>

    <insert id="insertMsg" parameterType="ChatMsg" useGeneratedKeys="true" keyProperty="msgId">
        insert into chat_msg (roomId, sender, msgType, content, filename, filesize, sendTime)
        values (#{roomId}, #{sender}, #{msgType}, #{content,jdbcType=BLOB}, #{filename}, #{filesize}, #{sendTime});
    </insert>

    <insert id="insertUser" parameterType="ChatUser">
        insert into chat_user (name, email, password)
        values (#{name}, #{email}, #{password});
    </insert>

    <delete id="deleteUserRoom" parameterType="UserRoom">
        delete
        from user_room
        where roomId=#{roomId} and userIp=#{userIp};
    </delete>

    <resultMap id="ChatRoomMap" type="ChatRoom">
        <result property="roomId" column="roomId"/>
        <result property="roomName" column="roomName"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="queryChatRoom" resultType="ChatRoom">
        select *
        from room where roomName=#{roomName};
    </select>

    <select id="queryUserRoom" resultType="UserRoom">
        select *
        from user_room where userIp=#{ip} and roomId=#{roomId};
    </select>

    <resultMap id="UserRoomMap" type="UserRoom">
        <result property="userIp" column="userIp"/>
        <result property="roomName" column="roomName"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <select id="queryUserRoomByIp" resultMap="UserRoomMap">
        select u.userIp, r.roomName, u.createTime
        from user_room u left join room r on u.roomId = r.roomId where u.userIp=#{ip};
    </select>

    <select id="queryMsg" resultType="ChatMsg">
        select msgId, roomId, sender, msgType, content, filename, filesize, sendTime
        from chat_msg where roomId=#{roomId} order by msgId desc
    </select>
    <select id="queryMsg_COUNT" resultType="Long">
        select count(msgId)
        from chat_msg where roomId=#{roomId}
    </select>

    <select id="queryUser" parameterType="ChatUser" resultType="ChatUser">
        select *
        from chat_user where email=#{email};
    </select>

</mapper>